* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  height: 100%;
}

.grid-container {
  display: grid;
  margin: 24px;
  height: 80vh;
  gap: 24px;
}

.grid-element {
   display: contents;
   grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
   grid-template-rows: repeat(5, 1fr);
   margin: 24px; 
}

.one {
  background-color: #007F5F;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.two {
  background-color: #80B918;
  grid-row: 1 / 4;
  grid-column: 2 / 4;
}

.tree {
  background-color: #DDDF00;
  grid-column: 4 / 6;
  grid-row: 1 / 2;
}

.four {
  background-color: #2B9348;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.five {
  background-color: #EEEF20;
  grid-row: 2 / 3;
  grid-column: 4 / 6;
}

.six {
  background-color: #55A630;
  grid-row: 4 / 6;
  grid-column: 1 / 2;
  
}

.seven {
  background-color: #FFFF3F;
  grid-column: 4 / 6;
  grid-row: 3 / 4;
}

.eight {
  background-color: #AACC00;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.nine {
  background-color: #D4D700;
  grid-column: 3 / 5;
  grid-row: 4 / 6;
}

.ten {
  background-color: #BFD200;
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

.eleven {
  background-color: #007F5F;
  grid-column: 5 / 6;
  grid-row: 4 / 6;
}

.container {
  display: block;
  background-color: #9BC1BC;
  height: 146px;
  width: auto;
  padding: 24px;
}

h1 {
 color: black;
 margin: 24px;
 font-size: 64px;
}