* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 24px;
  border: 2px solid black;
}

.grid-element {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 1fr 1fr 2fr;
   justify-content: center;
   align-items: center;
   width: 100%;
   gap: 24px;
   margin: 24px;
   
}

.one {
  background-color: #007F5F;
  width: auto;
  height: 448px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.two {
  background-color: #80B918;
  width: auto;
  height: 100%;
  grid-row: 1 / 3;
}

.tree {
  background-color: #DDDF00;
  width: auto;
  height: 122px;
  grid-column: 3 / 4;
}

.four {
  background-color: #2B9348;
  width: auto;
  height: 100%;
}

.five {
  background-color: #EEEF20;
  width: auto;
  height: 122px;
}

.six {
  background-color: #f2f3;
  width: 448px;
  height: 195px;
}

.seven {
  background-color: #f2f3;
  width: 448px;
  height: 195px;
}

.eight {
  background-color: #f2f3;
  width: 448px;
  height: 195px;
}

.nine {
  background-color: #f2f3;
  width: 448px;
  height: 195px;
}

.ten {
  background-color: #f2f3;
  width: 448px;
  height: 195px;
}

.eleven {
  background-color: #f2f3;
  width: 448px;
  height: 195px;
}